<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% if name == 'taka' %}
    现在是taka登陆的
{% elif name == 'xiaopo' %}
    这是小泼老师
{% else %}
    哈哈哈
{% endif %}
<br>
{% for i in ls %}
    {% for j in tp %}
        {#多层for循环嵌套，上一层的for#}
        {% if forloop.parentloop.counter == 2 %}
            <h2>{{ i }} {{ j }}</h2>
            {# {% else %}#}
            {# {{ i }}#}
        {% endif %}
    {% endfor %}
{% endfor %}
<br>
{% for i in ls %}
{#当前迭代次数，下标从1开始#}
    {{ forloop.counter }}<br>
{#当前迭代次数，下标从0开始<br>#}
    {{ forloop.counter0 }}<br>
{#下标从大到小#}
    {{ forloop.revcounter }}<br>
    {{ forloop.revcounter0 }}<br>
{#当前是否为第一次迭代#}
    {{ forloop.first }}<br>
{#当前是否为最后一次迭代#}
    {{ forloop.last }}<br>
{% endfor %}

<br>
{% for i in ls1 %}
    {{ i }}
{% empty %}
    hhhhh
{% endfor %}
<br>
{#页面跳转#}
<a href="/book/index">跳转到过滤器1</a>
<br>
<a href="{% url 'book_index' %}">跳转到过滤器2</a>
<br>
<a href="{% url 'book_test' 'python' %}">跳转到index,传参</a>
<br>
{#关闭自动转义#}
原始:{{ html }}<br>
过滤器：{{ html|safe }}<br>
标签（针对一个块）：
{% autoescape off %}
    {{ html }}<br>
    xxxxxxxxxxxxxx
    {{ html }}<br>
{% endautoescape %}
<br>
{% ifequal num1 12  %}
    两个数相等

{% endifequal %}

</body>
</html>