{% extends 'music/base.html' %}
{% load filter_test %}
{% block title %}
    music
{% endblock %}
{% block content %}
    {#继承#}
    {{ block.super }}
    这是musci的主页
    {% include 'music/ss.html' %}

    自带的：{{ str|lower }}<br>
    自己创建的1：{{ str|my_lower }}<br>
    自己创建的2：{{ str|my_cut:'IS' }}<br>

    简单标签：{% current_time '%Y年%m月%d日 %H:%M:%S'%}<br>
    简单标签2：{% current_time2 %}<br>

    包含标签1：{% show_results1 %}<br>
    包含标签2：{% show_results2 ls %}<br>
    包含标签2：{% show_results2 tp %}<br>
    包含标签3：{% show_results3 %}<br>



{% endblock %}
